<nav class="navbar navbar-default navbar-fixed-top be-top-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{{ path('dashboard') }}" class="navbar-brand">
                <img src="{{ asset('assets/img/tania.png') }}" alt="tania logo">
            </a>
        </div>
    </div>
</nav>