<nav class="navbar navbar-default navbar-fixed-top be-top-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{{ path('dashboard') }}" class="navbar-brand"></a>
        </div>
        <div class="be-right-navbar">
            <ul class="nav navbar-nav navbar-right be-icons-nav">
                <li class="dropdown"><a href="#" role="button" aria-expanded="false" class="be-toggle-right-sidebar"><span class="icon mdi mdi-nature"></span></a></li>
            </ul>
        </div>
    </div>
</nav>