<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper"><a href="#" class="left-sidebar-toggle">Home</a>
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
                <div class="left-sidebar-content">
                    <ul class="sidebar-elements">
                        <li class="active"><a href="{{ path('dashboard') }}"><i class="icon mdi mdi-home"></i><span>Dashboard</span></a></li>
                        <li class="divider">Farm Management</li>
                        <li><a href="{{ path('fields') }}"><i class="icon mdi mdi-layers"></i> Fields</a></li>
                        <li><a href="{{ path('reservoirs') }}"><i class="icon mdi mdi-local-drink"></i> Reservoirs</a></li>
                        <li><a href="{{ path('areas') }}"><i class="icon mdi mdi-layers"></i> Area</a></li>
                        <li><a href="inventory.html"><i class="icon mdi mdi-widgets"></i> Seeds Inventory</a></li>
                        <li class="divider">Operation</li>
                        <li><a href="plant.html"><i class="icon mdi mdi-flower-alt"></i> Plant</a></li>
                        <li><a href="farm-tasks.html"><i class="icon mdi mdi-assignment-o"></i> Tasks</a></li>
                        <li class="divider">Hardware & Sensors</li>
                        <li><a href="climate.html"><i class="icon mdi mdi-city-alt"></i> Climate Control</a></li>
                        <li><a href="water.html"><i class="icon mdi mdi-eyedropper"></i> Irrigation System</a></li>
                        <!--
                        <li class="divider">Business</li>
                        <li><a href="finance.html"><i class="icon mdi mdi-balance-wallet"></i> Finance</a></li>
                        <li><a href="inventory.html"><i class="icon mdi mdi-widgets"></i> Inventory</a></li>
                        <li class="divider">Settings</li>
                        <li><a href="preference.html"><i class="icon mdi mdi-settings"></i> Preferences</a></li>
                        <li><a href="logout.html"><i class="icon mdi mdi-power"></i> Log Out</a></li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>