{% extends 'base.html.twig' %}

{% block body %}
<div class="be-wrapper">
    {% include 'navbar.html.twig' %} 
    {% include 'sidebar.html.twig' %}

    <div class="be-content">
        <div class="page-head">
            <h2 class="page-head-title">Add New Area</h2>
        </div>
        <div class="main-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form action="#" style="border-radius: 0px;" class="form-horizontal group-border-dashed">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Name of New Area</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Location</label>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                        <option>Indoor</option>
                                        <option>Outdoor</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Choose the system<br>that will be used</label>
                                    <div class="col-sm-6">
                                        <div class="be-radio">
                                        <input type="radio" name="rad2" id="rad3">
                                        <label for="rad3">NFT</label>
                                        </div>
                                        <div class="be-radio">
                                        <input type="radio" name="rad2" id="rad4">
                                        <label for="rad4">Drip Irrigation</label>
                                        </div>
                                        <div class="be-radio">
                                        <input type="radio" name="rad2" id="rad5">
                                        <label for="rad5">Ebb & Flow</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Nutrient Reservoir</label>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                        <option>Veggie</option>
                                        <option>Fruity</option>
                                        <option>Tubby</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Growing Capacity<br>(holes/points)</label>
                                    <div class="col-sm-3">
                                        <select class="form-control">
                                        <option>Pots / Points</option>
                                        <option>Trays</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" placeholder="e.g. 300" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Choose Photo</label>
                                    <div class="col-sm-6">
                                        <div class="input-group xs-mb-15">
                                        <input type="text" class="form-control"><span class="input-group-btn">
                                            <button type="button" class="btn btn-default">Select</button></span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary btn-lg">Create</button>
                                    <a href="{{ path('areas') }}" class="btn btn-default btn-lg">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}