// Variables
// --------------------------

@zmdi-font-name:      "Material Icons";
@zmdi-font-path:      "../fonts";
@zmdi-css-prefix:     mdi-hc;
@zmdi-icon-prefix:    mdi;
@zmdi-version:        "2.2.0";

@zmdi-border-color:   #9E9E9E;
@zmdi-inverse:        #FFFFFF;
@zmdi-li-width:       (30em / 14);

// Legacy code for backward capability with 2.0.x version

@md-font-path:        "../fonts";
@md-css-prefix:       md;
@md-icon-prefix:      mdi;
@md-version:          "2.2.0";

@md-border-color:     #9E9E9E;
@md-inverse:          #FFFFFF;
@md-li-width:         (30em / 14);