{% extends 'base.html.twig' %}

{% block body %}
{% trans_default_domain "dashboard" %}
<div class="be-wrapper">
    {% include 'navbar.html.twig' %}
    {% include 'sidebar.html.twig' %}

    <div class="be-content">
        <div class="page-head">
            <a href="{{ path('devices_create') }}" class="btn btn-primary pull-right">{% trans %}Add New Device{% endtrans %}</a>
            <h2 class="page-head-title">{% trans %}All Devices{% endtrans %}</h2>
        </div>
        <div class="main-content container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default panel-table">
                        <div class="panel-body">
                            <table id="table2" class="table table-fw-widget">
                                <thead>
                                    <tr>
                                        <th class="col-sm-2">Name</th>
                                        <th>Resources</th>
                                        <th>Register Date</th>
                                        <th>Located On</th>
                                        <th>Last Connected</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>AMA 1-04</td>
                                        <td>Temperature, Humidity, Light</td>
                                        <td>11-29-2016</td>
                                        <td><a href="">Amaryllis</a></td>
                                        <td class="text-danger">None</td>
                                        <td><a href="">{% trans %}Info{% endtrans %}</a> | <a href="{{ path('resources', {id: 1}) }}">{% trans %}Add Resources{% endtrans %}</a> | <a href="">{% trans %}Delete{% endtrans %}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

    {% include 'right-sidebar.html.twig' %}
</div>
{% endblock %}